<dig-exit-bar #exitBar1 class="exit-bar player1" (clickedExit)="reset()"></dig-exit-bar>
<div class="main-block">
  <dig-memory-controller class="memory-controller player2" [disable]="currentPlayer === 'player1'" (clickedMemory)="onClickedMemoryOfPlayer2($event)"></dig-memory-controller>
  <dig-your-turn-label [class]="['your-turn-label', 'player2', currentPlayer === 'player2' ? 'active' : 'deactive']"></dig-your-turn-label>
  <dig-memory
    [currentPlayer]="currentPlayer"
    [currentMemory]="currentMemory"
    (changeMemory)="onChangedMemoryDirectry($event)"
  ></dig-memory>
  <dig-your-turn-label [class]="['your-turn-label', currentPlayer === 'player1' ? 'active' : 'deactive']"></dig-your-turn-label>
  <dig-memory-controller class="memory-controller player1" [disable]="currentPlayer === 'player2'" (clickedMemory)="onClickedMemoryOfPlayer1($event)"></dig-memory-controller>
</div>
<dig-exit-bar #exitBar2 class="exit-bar player2" (clickedExit)="reset()"></dig-exit-bar>
